#
# This is the IPC matrix, defining the task IPC
# permissions for current tasks. You can set it
# using the following:
# - ipc send are read line by line, sender at left
# - ipc recv are read column by column, receiver at top
# - if the value of a cell is set to 1, IPC is allowed
# - any other value means that the share is not allowed
#
# This matrix is converted into a static const matrix in
# C and Ada defining the permissions of all tasks
#
comment "---------  USB     FIDO     U2FPIN     PIN     DFUUSB   DFUSMART     DFUCRYPTO DFUFLASH"
comment "USB        [#]     [1]       [1]       [ ]       [ ]        [ ]       [ ]       [ ]"
comment "FIDO       [1]     [#]       [ ]       [ ]       [ ]        [ ]       [ ]       [ ]"
comment "U2FPIN     [1]     [ ]       [#]       [ ]       [ ]        [ ]       [ ]       [ ]"
comment "PIN        [ ]     [ ]       [ ]       [#]       [ ]        [1]       [1]       [ ]"
comment "DFUUSB     [ ]     [ ]       [ ]       [ ]       [#]        [ ]       [1]       [ ]"
comment "DFUSMART   [ ]     [ ]       [ ]       [1]       [ ]        [#]       [1]       [ ]"
comment "DFUCRYPTO  [ ]     [ ]       [ ]       [1]       [1]        [1]       [#]       [1]"
comment "DFUFLASH   [ ]     [ ]       [ ]       [ ]       [ ]        [ ]       [1]       [#]"
